header {
    background-color: rgb(26, 26, 126);
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 100% + 1px;
    padding: 20px 0; 
    margin: -8px -8px 16px -8px;


  }

  